.button {
    text-align: center !important;
        margin-top: 16px;
    background-color: #117a8b;
    border: none;
    color: white !important;
    padding: 6px;
    border-radius: 20px 20px 20px 20px;
  }

.Center-button {
    background-color: #C71585;
    color: white;
    height: 60px;;
}
button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}
::placeholder {
  color: white;
  opacity: 1; /* Firefox */
}

button {
    background-color: transparent;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: 1px solid white;
    cursor: pointer;
    width: 100%;
}